<%= link_to("←一覧に戻る","/posts")%>
<%= @post.title %>
<%= link_to("編集","/posts/#{@post.id}/edit")%>
<table>
    <tr>
        <th>開始日</th>
        <td><%= @post.start %></td>
    </tr>
    <tr>
        <th>終了日</th>
        <td><%= @post.end %></td>
    </tr>
    <tr>
        <th>終日</th>
        <td><%  if @post.all %>
             ○
            <% end %>
        </td>
    </tr>
    <tr>
        <th>スケジュールメモ</th>
        <td><%= @post.memo %></td>
    </tr>
</table>